<div class="container">

<br>

  <div class="jumbotron">

  <div class="row">
    <div class="col-8">
        <h1 class="display-4"><b>Introducing Storyboard</b></h1>
        <h2>Private Audio, Just for Teams</h2>
        <p class="lead">Storyboard is the first mobile app that allows companies, teams, and organizations to use the power of podcasting, just for their internal audiences.</p>
        <p class="lead">Our app - for listening on your iPhone or on the web - will enter beta in December.</p>
        <hr class="my-4">
        <p>We're looking for podcasters who want to deliver private episodes to their selected listeners. For the audience, they can easily stream, download, and hear your show on their phone or desktop, with the ease of traditional podcast apps.</p>
        <p>It will be free to test, but I will hope to get feedback from you as I work to improve and launch the app. Please reach out if you're interested.</p>
        <p class="lead">
               <%= link_to "Beta Registration", new_betum_path, class: "btn btn-primary btn-lg" %>
    </p>
    </div>

    <div class="col-4">
      <div class="content-to-hide">
        <%= link_to image_tag("iphone_screenshot_storyboard.png", alt: "Brand", :class=>'homeimage') %>
      </div>
      
    </div>
    </div>

</div>

</div>

    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                 <!-- <h2>About</h2> -->
                  <br>
                     <%= image_tag("Visualizer.png", class: "img-responsive middle") %>
                      <h2 style="color: white;">Why Storyboard?</h2> 
                     <hr class="star-light">
                </div>

                <div class="col-md-6">
                     <h2><b>Podcasting for Teams</b></h2> <p>25% of Americans are now regularly listening to podcasts. However, teams and companies still largely communicate over email, where competition for attention is fierce. Want to make a podcast for your team but keep it private? Storyboard makes this easy.</p>
                </div>
                <div class="col-md-6">
                  <h2><b>Easy Listening</b></h2>
                    <p>For your listeners, they will simply download the Storyboard App after receiving a verification code when you register. After we confirm the listener, they can download your episodes to listen in the car, on a flight, or wherever they enjoy listening to podcasts.</p>
                </div>
                <br>
            </div>
        </div>
        <br><br>
    </section>   
