<div class="container">

<br>

  <div class="jumbotron">

  <div class="row">
    <div class="col-8">
        <h1 class="display-4"><b>Storyboard App</b></h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
               <%= link_to "Beta Registration", new_betum_path, class: "btn btn-primary btn-lg" %>
    </p>
    </div>

    <div class="col-4">
      <div class="content-to-hide">
        <%= link_to image_tag("iphone_screenshot_storyboard.png", alt: "Brand", :class=>'homeimage') %>
      </div>
      
    </div>
    </div>

</div>

</div>
